@use "../custom" as *;

//gradient mixin
@mixin gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}

@mixin absoluteCenter {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50% -50%);
}

//trasition property//

@mixin transitionProperty {
  transition-duration: 1000ms;
  transition-property: all;
}
