.main {
	color: red;
}

.font-oswald {
	font-family: "Oswald";
}
.font-poppins {
	font-family: "poppins";
}
.font-dance {
	font-family: "Dancing Script", cursive;
}
.header {
	font: "poppins";
	font-weight: 500;
	color: #f0f1ea;
	text-shadow: 0 0 5px rgba(#ebebf1, 0.5);
}

.text-animate {
	display: inline-block;
	opacity: 0;
	animation: bounceIn 1s 1s;
	animation-fill-mode: forwards;
	min-width: 10px;
}

.text-animate-hover {
	min-width: 10px;
	display: inline-block;
	animation-fill-mode: both;
}
.text-animate-hover:hover {
	animation: rubberBand 1s;
	color: rgb(128, 160, 40);
}

@for $i from 1 through 37 {
	.text-animate._#{$i} {
		animation-delay: calc(#{$i / 10}s);
	}
}

.fadeInLeft {
	opacity: 0;
	animation: fadeInLeftBig 1s forwards ease-in-out;
	transition: all 4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.fadeInUp {
	opacity: 0;
	animation: fadeInRight 1.5s forwards;
	transition: all 1s ease-in-out;
}

.menuItem,
.menuItem:visited,
.menuItem:focus {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1rem;
	text-decoration: none;
	padding: 0 1rem;
	color: #222121;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #5e626fbb 50%);
	background-size: 220%;
	transition: all 0.4s;
	cursor: pointer;

	&:hover {
		background-position: 100%;
		color: rgb(201, 220, 244);
		transform: translateX(1rem);
	}
}
.tiamz {
	background-image: linear-gradient(to right, rgba(#7cb5f7, 0.7), rgba(#bfbce8, 0.9));
	-webkit-background-clip: text;
	font-weight: 500;
	text-shadow: 0 2px 2px rgba(#e7e7ec, 0.2);
	background-repeat: no-repeat;
	color: transparent;
}

.text-clip {
	background-image: linear-gradient(135deg, rgba(#2112f0, 0.7), rgba(#bfbce8, 0.9));
	font-weight: 500;
	text-shadow: 2px 2px 2px rgba(#e7e7ec, 0.9);
	margin-bottom: 1rem;
	padding: 1rem;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.7rem;
	font-family: "poppins";
}

.big {
	&:hover {
		transform: scaleX(2px);
		transform: scaleY(2px);
	}
}

.btn {
	&:hover {
		transform: translate(2px, 2px);
	}
}

#light {
	background-color: rgb(70, 235, 235);
	overflow: hidden;
	color: #222121;
}

#dark {
	background: rgb(38, 47, 78);
	overflow: hidden;
}
